MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=
GEMINI_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NODEMAILER_HOST=
NODEMAILER_PORT=
NODEMAILER_USER=
NODEMAILER_PASS=
NODEMAILER_FROM=
FRONTEND_URL=https://your-frontend-domain.com
PORT=
GROQ_API_KEY=
METERED_TURN_URL=
METERED_USERNAME=
METERED_CREDENTIAL=
VAPID_PUBLIC_KEY=placeholder_public_key
VAPID_PRIVATE_KEY=placeholder_private_key
VAPID_SUBJECT=mailto:support@synapse.com
